.content h2 {
  font-weight: bold;
  font-size: 16px;
  color: var(--chakra-colors-gray-200);
  margin-bottom: 20px;
}

.content .yellow-300 {
  color: var(--chakra-colors-yellow-300);
}

.content p {
  letter-spacing: 0.48px;
  line-height: 1.6;
}
.content p:not(:last-child) {
  margin-bottom: 100px;
}
